<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.index.mapper.IndexMapper">
    <select id="queryCommtype" resultType="com.mr.shop.CommodityType">
        select commt_id as commtId,commt_fater as commtFater,commt_name as commtName
        from commodity_type
    </select>
</mapper>